{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학생 정보 조회</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">학생 정보 조회</h2>

        {% if student %}
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">{{ student.name }} (학번: {{ student.id }})</h5>
                <p class="card-text">학년: {{student.grade}} </p>
                <p class="card-text">반: {{ student.classno }}</p>
                <p class="card-text">호실: {{ student.room }}</p>
            </div>
        </div>
        {% else %}
        <div class="alert alert-warning">해당 학번의 학생을 찾을 수 없습니다.</div>
        {% endif %}
    </div>

    <script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
